<script type="application/ld+json">
    {
	"@context": "http://schema.org/",
	"@type": "Organization",
	"name": "Grupo Especializado de Estudiantes de la Real Sociedad Española de Física",
	"alternateName": "EstudiantesRSEF",
	"url": "https://rsef.es/",
	"address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Madrid",
	    "addressCountry": "ES",
	    "streetAddress": "Facultad de Ciencias Físicas UCM. Plaza de las Ciencias, 1",
	    "postalCode": "28040"
	},
	"email": "esecutivo&#64;&#97;&#105;&#45;&#115;&#102;&#46;&#105;&#116;",
	"foundingDate": "2018-10-18",
	"foundingLocation": {
	    "@type": "Place",
	    "address": {
		"@type": "PostalAddress",
		"addressLocality": "Madrid",
		"addressCountry": "ES"
	    }
	},
	"logo": "https://rsef.es/images/LOGO-RSEF-full.jpg",
	"description": "EstudiantesRSEF es el Grupo Especializado de Estudiantes de la Real Sociedad Española de Física, cuyo objetivo es reunir a estudiantes de ciencias físicas de universidades españolas y conseguir una mayor participación del colectivo en las instituciones, tanto en el ámbito nacional como internacional, a través de actividades que complementen los currículos oficiales que fomenten la divulgación científica en la sociedad y promuevan la colaboración con agrupaciones del mismo ámbito de todo el mundo."
    }
</script>
